astroid==2.5.1
blinker==1.4
certifi==2020.12.5
click==7.1.2
colorama==0.4.4
docutils==0.17.1
elasticsearch==7.12.1
elasticutils==0.10.3
feedgenerator==1.9.1
Flask==1.1.2
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
Markdown==3.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
pelican==4.6.0
Pygments==2.8.1
pylint==2.7.2
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
toml==0.10.2
Unidecode==1.2.0
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
